extends layout.pug
block content
	h1=title
	h3.alert-warning=message
	main
		p.results #{total} results found
		table
			tr
				th ID
				th Name
				th Title
				th hourly_rate
				th manager_id
			each v, k in data
				tr
					td #{v.emp_id} 
					td #{v.name}
					td #{v.title}
					td #{v.hourly_rate}
					td #{v.manager_id}
					
